<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Chat Room
        </div>
        <div class="card-body">
            <ul class="list-group chat-messages">
                <li class="list-group-item" 
                    *ngFor="let msg of messages"
                    [ngClass]="{'right': msg.username === loggedInUser.username, 'left': msg.username !== loggedInUser.username}">
                    {{ msg.username }}: {{ msg.message }}
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <form class="form-inline">
                <div class="form-group flex-grow-1 mr-2">
                    <input type="text" class="form-control w-100" [(ngModel)]="messagecontent" name="messagecontent" placeholder="Type a message">
                </div>
                <button class="btn btn-primary" (click)="sendMessage()" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
