<div class="container mt-5">
    <h2 class="mb-4">Create Account</h2>
    <form (ngSubmit)="onCreate()">
        <div class="mb-3">

            <label for="username" class="form-label">Username</label>

            <input type="text"  class="form-control" id="username"[(ngModel)]="user.username" name="username" required (input)="onUsernameInput()" [ngClass]="{
                'is-unique': user.username && isUniqueUsername, 
                'not-unique': user.username && !isUniqueUsername}">
        </div>

        <div *ngIf="!isUniqueUsername" class="invalid-feedback d-block">
            User already exists, Please choose a new username
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required [ngClass]="{
                'not-unique': user.password && !isUniquePassword}">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="pwdconfirm" [(ngModel)]="user.pwdconfirm" name="pwdconfirm" required [ngClass]="{
                'not-unique': user.pwdconfirm && !isUniquePassword}">
        </div>

        <div *ngIf="!isUniquePassword" class="invalid-feedback d-block">
            Passwords do not match, Please try again. 
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required [ngClass]="{
                'not-unique': user.email && !isUniqueEmail}">
        </div>
        <div *ngIf="!isUniqueEmail" class="invalid-feedback d-block">
            Email Already Exists, Please try again.
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday" [(ngModel)]="user.birthdate" name="birthday" required>
        </div>
        <input type="hidden" [(ngModel)]="user.role" name="roles" value="[1]">
        <input type="hidden" [(ngModel)]="user.group" name="groups" value="[1]">
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div>


<!-- 
<div class="container mt-5">
    <h2 class="mb-4">Create Account</h2>
    <form (ngSubmit)="onCreate()">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="pwdconfirm" [(ngModel)]="user.pwdconfirm" name="pwdconfirm" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday" [(ngModel)]="user.birthdate" name="birthday" required>
        </div>
        <input type="hidden" [(ngModel)]="user.role" name="roles" value="[1]">
        <input type="hidden" [(ngModel)]="user.group" name="groups" value="[1]">
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div> -->
