<div class="container mt-5">
    <h2 class="mb-4 text-center">Create Account</h2>
    <form (ngSubmit)="onCreate()">
        <div class="mb-3">

            <label for="username" class="form-label">Username</label>

            <input type="text"  class="form-control" id="username"[(ngModel)]="user.username" name="username" required (input)="onUsernameInput()" [ngClass]="{
                'is-unique': user.username && isUniqueUsername, 
                'not-unique': user.username && !isUniqueUsername}">
        </div>

        <div *ngIf="!isUniqueUsername" class="invalid-feedback d-block text">
            User already exists, Please choose a new username
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required [ngClass]="{
                'not-unique': user.password && !isUniquePassword}">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="pwdconfirm" [(ngModel)]="user.pwdconfirm" name="pwdconfirm" required [ngClass]="{
                'not-unique': user.pwdconfirm && !isUniquePassword}">
        </div>

        <div *ngIf="!isUniquePassword" class="invalid-feedback d-block text">
            Passwords do not match, Please try again. 
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required [ngClass]="{
                'not-unique': user.email && !isUniqueEmail}">
        </div>
        <div *ngIf="!isUniqueEmail" class="invalid-feedback d-block">
            Email Already Exists, Please try again.
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday" [(ngModel)]="user.birthdate" name="birthday" required>
        </div>

        <div class="mb-3 d-flex align-items-center" style="padding-top: 20px">
            <label style="padding-right: 20px">Profile Picture</label>
            <label class="btn btn-sm btn-primary mr-2" style="width:50px; padding: 6px 12px;"> 
                <input type="file" (change)="onFileSelected($event)" style="display: none;">

                <!-- Show camera icon if there's no attachment -->
                <i class="fa-solid fa-camera" *ngIf="!selectedFile"></i>

                <!-- Show check icon if there is an attachment -->
                <i class="fa-solid fa-check" *ngIf="selectedFile"></i>
            </label>

            <!-- Just a placeholder for visual balance. You can remove or replace it as needed -->
            <div class="flex-grow-1"></div>
            <input type="hidden" [(ngModel)]="user.role" name="roles" value="[1]">
            <input type="hidden" [(ngModel)]="user.group" name="groups" value="[1]">
            <button type="submit" class="btn btn-primary">Create Account</button>
    
        </div>


    </form>
</div>
