<html>
<body>


<div class="container my-5 text-center">

<div>
        
        <h3  class="mx-5 my-4">{{loggedInUser.username}} Groups</h3>
</div>

    
    <div class="mb-4">
        
        <button 
        style="width: 200px; margin-right: 20px;" 
            *ngIf="!isUser && isAdmin || isSuperAdmin" 
            class="btn btn-success custom-btn" 
            (click)="onAddGroup()">
            Add Group
        </button>
        
     
        <button *ngIf="!isUser && isAdmin || isSuperAdmin" class="btn btn-success custom-btn position-relative" style="width: 200px;" (click)="showRequests()">
            User Requests
            <span *ngIf="numberOfRequests > 0" class="badge badge-danger position-absolute notification-badge">{{ numberOfRequests }}</span>
        </button>

     
        <button *ngIf="isSuperAdmin" class="btn btn-success custom-btn position-relative" style="width: 200px; margin-left: 20px;" (click)="showAdminRequests()">
            Admin Requests
            <span *ngIf="numberOfAdminRequests > 0" class="badge badge-danger position-absolute notification-badge">{{ numberOfAdminRequests }}</span>
        </button>
    </div>
</div>

<!-- SUPERADMIN GROUPS ---------------------------------------------------------------- -->
<div *ngIf="isSuperAdmin" class="container mt-4 section-card" style="max-height: 600px; overflow-y: scroll;">
    <h3>All Groups</h3>
    <div class="row justify-content-center">
        
        <!-- Column 1 -->
        <div class="col-md-3">
            <div *ngFor="let group of firstQuarterGroups" class="mx-2 my-2">
                <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                    <div class="row no-gutters align-items-center">
            
                        <!-- Group Name -->
                        <div class="col">
                            <h5 class="card-title">{{ group.groupName }}</h5>
                        </div>
            
                        <!-- Action Icons -->
                        <div class="col-auto">
                            <button class="btn btn-sm btn-primary mr-2"
                                (click)="editGroupUsers(group); $event.stopPropagation()">➕</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="deleteGroup(group); $event.stopPropagation()">🗑</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-md-3">
            <div *ngFor="let group of secondQuarterGroups" class="mx-2 my-2">
                <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                    <div class="row no-gutters align-items-center">
            
                        <!-- Group Name -->
                        <div class="col">
                            <h5 class="card-title">{{ group.groupName }}</h5>
                        </div>
            
                        <!-- Action Icons -->
                        <div class="col-auto">
                            <button class="btn btn-sm btn-primary mr-2"
                                (click)="editGroupUsers(group); $event.stopPropagation()">➕</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="deleteGroup(group); $event.stopPropagation()">🗑</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column 3 -->
        <div class="col-md-3">
            <div *ngFor="let group of thirdQuarterGroups" class="mx-2 my-2">
                <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                    <div class="row no-gutters align-items-center">
            
                        <!-- Group Name -->
                        <div class="col">
                            <h5 class="card-title">{{ group.groupName }}</h5>
                        </div>
            
                        <!-- Action Icons -->
                        <div class="col-auto">
                            <button class="btn btn-sm btn-primary mr-2"
                                (click)="editGroupUsers(group); $event.stopPropagation()">➕</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="deleteGroup(group); $event.stopPropagation()">🗑</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 4 -->
        <div class="col-md-3">
            <div *ngFor="let group of fourthQuarterGroups" class="mx-2 my-2">
                <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                    <div class="row no-gutters align-items-center">
            
                        <!-- Group Name -->
                        <div class="col">
                            <h5 class="card-title">{{ group.groupName }}</h5>
                        </div>
            
                        <!-- Action Icons -->
                        <div class="col-auto">
                            <button class="btn btn-sm btn-primary mr-2"
                                (click)="editGroupUsers(group); $event.stopPropagation()">➕</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="deleteGroup(group); $event.stopPropagation()">🗑</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- --MODALS-------------------------------------------------------------- -->

    <div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addGroupLabel">Add Group</h5>
              <button (click)="closeModal('newGroup')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body">
              <div class="form-group">
                <label for="groupName">Group Name:</label>
                <input type="text" class="form-control" id="groupName" (input)="onGroupInput()"[(ngModel)]="newGroupName"
                [ngClass]="{
                    'is-unique': newGroupName && isUniqueGroup, 
                    'not-unique': newGroupName  && !isUniqueGroup}">
              </div>
    
    
    
              <div *ngIf="!isUniqueGroup" class="invalid-feedback d-block">
                Group Name Already exists. Please choose a new group name.
            </div>
      
              <div class="form-group">
                <label for="channelName">Channel Name:</label>
                <input type="text" class="form-control" id="channelName" [(ngModel)]="newChannelName">
                <button type="button" class="btn btn-primary mt-2" (click)="addChannel()">Add Channel</button>
              </div>
              
              <ul *ngIf="groupChannels && groupChannels.length">
                <li *ngFor="let channel of groupChannels">{{ channel }}</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveGroup()">Save Group</button>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="modal fade" id="approveRequests" tabindex="-1" aria-labelledby="addGroupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveRequestsLabel">Group Requests</h5>
                    <button (click)="closeModal('requestApproval')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let group of groupsNeedApproval">
                            {{ group.groupName }}
                            <ul class="list-group mt-2">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let userRequest of group.userRequests">
                                    {{ userRequest }}
    
                                    <button style="width: 80px; margin-left: 10px;" class="btn btn-success btn-sm" (click)="approveRequest(group, userRequest)">Approve</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="approveAdminRequests" tabindex="-1" aria-labelledby="addGroupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveRequestsLabel">Group Admin Requests</h5>
                    <button (click)="closeModal('requestAdminApproval')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <ul class="list-group">
      
                        <li class="list-group-item" *ngFor="let group of groupsAdminNeedApproval">
                            {{ group.groupName }} 
                            <ul class="list-group mt-2">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let adminRequest of group.adminRequests">
                                    {{ adminRequest }}
                                    <button style="width: 80px; margin-left: 10px;" class="btn btn-success btn-sm" (click)="approveAdminRequest(group, adminRequest)">Approve</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="editGroupUsers" tabindex="-1" aria-labelledby="addGroupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUser">Edit Users</h5>
                    <button (click)="closeModal('editUsers')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let username of userNotinGroup">
                            {{ username }}
                            <button class="btn btn-success btn-sm" style="width: 80px; margin-left: 10px;" (click)="addUserFromGroup(selectedGroup, username)">Add User</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let username of usersInGroup">
                            {{ username }}
                            <button class="btn btn-danger btn-sm" style="width: 120px; margin-left: 10px;" (click)="removeUserFromGroup(selectedGroup, username)">Remove User</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


        <!-- For isUser & isAdmin -->
        <div *ngIf="isUser || isAdmin">
    
            <!-- Other Groups -->
 


    
            <!-- My Groups -->
            <div class="container mt-4 section-card">
                <h3 class="section-header">Joined Groups</h3>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-4 mx-2 my-2" *ngFor="let group of joinedGroups">
                        <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                            <div class="row no-gutters align-items-center">
            
                                <!-- Group Name -->
                                <div class="col">
                                    <h5 class="card-title">{{ group.groupName }}</h5>
                                </div>
            
                                <!-- Buttons -->
                                <div class="col-auto">
                                    <button *ngIf="!isUser"
                                            [disabled]="buttonDisabledStates[group.groupID]" 
                                            class="btn btn-success btn-sm" 
                                            (click)="requestAdminButton(group); $event.stopPropagation()">
                                            ►
                                    </button>
            
                                    <button *ngIf="isUser || isAdmin"
                                            class="btn btn-danger btn-sm" 
                                            (click)="leaveGroup(group); $event.stopPropagation()">
                                            ⎋
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

                <div class="container mt-4 section-card">
                    <h3 class="section-header">Groups</h3>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-4 mx-2 my-2" *ngFor="let group of otherGroups">
                            <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                                <div class="row no-gutters align-items-center">
                                    <!-- Group Name -->
                                    <div class="col">
                                        <h5 class="card-title">{{ group.groupName }}</h5>
                                    </div>

                                    <!-- Buttons -->
                                    <div *ngIf="isUser || isAdmin && !isSuperAdmin" class="col-auto">
                                        <button [disabled]="buttonDisabledStates[group.groupID]" 
                                        class="btn btn-success btn-sm" 
                                        (click)="requestButton(group); $event.stopPropagation()">►</button>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
    
            <!-- Administered Groups (for isAdmin only) -->

            <div *ngIf="!isUser" class="container mt-4 section-card">
                <h3 class="section-header">Administered Groups</h3>
                <div class="row justify-content-center mt-4">
                    <div class="col-md-4 mx-2 my-2" *ngFor="let group of myGroups">
                        <div (click)="onGroupCardClick(group)" class="card square-card mt-auto">
                            <div class="row no-gutters align-items-center">
            
                                <!-- Group Name -->
                                <div class="col">
                                    <h5 class="card-title">{{ group.groupName }}</h5>
                                </div>
            
                                <!-- Buttons -->
                                <div class="col-auto">
                                    <button *ngIf="!isUser && isAdmin || isSuperAdmin"
                                            class="btn btn-sm btn-primary mr-2" 
                                            (click)="editGroupUsers(group); $event.stopPropagation()">Add Users</button>
            
                                    <button *ngIf="group.createdBy==loggedInUser.username || isSuperAdmin"
                                            class="btn btn-sm btn-danger" 
                                            (click)="deleteGroup(group); $event.stopPropagation()">Delete Group</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            