@font-face {
    font-family: 'CustomFont';
    src: url('assets/fonts/ChatFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextFont';
    src: url('assets/fonts/TextFont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}